.forms {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.task-input {
  margin-right: 10px;
  width: 30%;
}

.main-container {
  padding-top: 20px;
  display: flex;
}

.todo-container {
  border: 1px solid black;
  padding: 10px;
  margin: 2px;
  width: 100%;
}

.favorites-container {
  border: 1px solid black;
  padding: 10px;
  margin: 2px;
  width: 100%;
}
